.a{
	width: 60%;
	padding: 0% 15%;
	margin: 0% 20%;
}
.color-b{
	background-color: #830909;
}
.footer{
	width: 100%;
	height: 100px;
	background-color: silver;
}
.ah{
	background-color: gray;
}
.h{
	text-align: center;
}
.b{
	width: 100%;
	height: 130%;
	background-image: url('../../assets/plain2.jpg');
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}
.ap{
	color: black;
	background-color: silver;
	border:1px solid #830909;
	border-radius: 10px;
}
.ap:hover{
	color: white;
	background-color: #830909;
	border:1px solid black;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
}