.a{
	width: 60%;
	padding: 0% 15%;
	margin: 0% 20%;
}
.color-b{
	background-color: #830909;
}
.b{
	width: 100%;
	height: 100%;
	background-image: url('../../assets/books.jpg');
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}