<div class="b">
<br>
<div class="">
</div>
<div class="a">

<mdb-card>

  <mdb-card-header class="color-b white-text text-center py-4">
    <h5>
      <strong>Change Password</strong>
    </h5>
  </mdb-card-header>

  <!--Card content-->
  <mdb-card-body class="px-lg-5">

    <!-- Form -->
     <!-- Form -->
    <form class="text-center" style="color: #757575; " #userLogin="ngForm" (ngSubmit)="onClickChange()">
     <div class="md-form">
        <input type="email" name="Email" id="materialLoginFormCurrentEmailC" [(ngModel)]="declared.Email"  class="form-control" mdbInput>
        <label for="materialLoginFormCurrentEmailC">Email</label>
      </div>
      <!-- Email -->
      <div class="md-form">
        <input type="password" name="PasswordC" id="materialLoginFormCurrentPassword" [(ngModel)]="declared.PasswordC"  class="form-control" mdbInput>
        <label for="materialLoginFormCurrentPassword">Current Password</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" id="materialLoginFormPassword" name="PasswordNew" [(ngModel)]="declared.PasswordNew"  class="form-control" mdbInput>
        <label for="materialPass">New Password</label>
      </div>

      <!-- Sign in button -->
      <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
        type="submit">Change</button>


    </form>
    <!-- Form -->
    <!-- Form -->
<p>Need help? Contact the <a href="">admin</a></p>
  </mdb-card-body>

</mdb-card>
</div>
</div>
<div class="footer">
  <p class="h ah">@2020</p>
  <p class="h">let's go digital</p>
</div>
